.font01 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 0px;
}

.font02 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 5px;
    margin-bottom: 3%;
}

.font03 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 0px;
}

.font04 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    line-height: 0px;
    margin-bottom: 2%;
}

.font05 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 0px;
}

.font06 {
    font-family: 'Times New Roman', Times, serif;
    line-height: 0px;
    margin-bottom: 2%;
}

.font07 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 0%;
    margin-bottom: 0%;
}

.font08 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    line-height: 0%;
    margin-top: 1%;
}