<!--For modern browsers-->
h2 {  
	color: white;
	font-size: 1.25em;
	line-height: .5em;
}

h3 {
	color: white;
	font-size: 1em;
	line-height: .5em;
}

h4 {
	font-size: 1em;
	text-indent: 25px;
	line-height: 0em;
}

p {
	font-size: 1em;
	font-style: initial;
}

li {
  font-size: 1em;
}

footer {
	position: fixed;
	align-content: center;
	bottom: 0;
	left: 50%;
	/*margin-left:-200px; /*negative half the width */
	background: #2c3539;
	width: 400px;
	height: 100px;
	display: flex
}

p {
	font-style: italic
}

.boxed {
	border: none;
	border-width: .5px;
	width: 1024px;
	text-align: left;
}