body {
  background-color: black;
}

* {
  box-sizing: border-box;
  border-radius: 50%;
}

.planet {
  margin: 50px auto;
}

.core {
  background-color: yellow;
  border-color: orange;
  border-style: solid;
}

.mantle {
  background-color: orangered;
  border-color: red;
  border-style: solid;
}

.crust {
  background-color: brown;
  /* border-color depends on planet! */
  border-style: solid;
}

/*
  planet height and width => height and width
  inner-layers => padding;
  outer-layers => border-width;
  make it round => border-radius;
*/

.planet.earth {
  height: 500px;
  width: 500px;
}

.earth .crust {
  padding: 10px;
  border-width: 10px;
  border-color: blue;
}

.earth .mantle {
  padding: 140px;

  border-width: 40px;
}

.earth .core {
  padding: 30px;
  border-width: 30px;
}

.planet.mars {
  height: 200px;
  width: 200px;
}

.mars .crust {
  border-color: #f3b19d;
  padding: 20px;
  border-width: 10px;
}

.mars .mantle {
  padding: 40px;
  border-width: 20px;
  border-color: brown margin;
}

.mars .core {
  padding: 6px;
  border-width: 5px;
}
