

/*use that astrisk to apply to all classes below!
*/
* {
  box-sizing: border-box;
}

body {
  background-color: black;
}
/*
separate class for just planets so this code would apply to both earth and mars
wanted both of them to have margins to push away from each other
*/
.planet {
  margin: 50px auto;
}

.core {
  background-color: yellow;
  border-color: orange;
  border-style: solid;
}

.mantle {
  background-color: orangered;
  border-color: red;
  border-style: solid;
}

.crust {
  background-color: brown;
  /* border-color depends on planet! */
  border-style: solid;
}

/*
  planet height and width => height and width
  inner-layers => padding;
  outer-layers => border-width;
  make it round => border-radius;
  border box will eat away at the inside?? 
*/

.planet.earth {
  height: 300px;
  width: 300px;
  
}

  .earth .crust {
    border-color: blue;
    height: 100%;
    width: 100%;
    border-width: 10px;
    padding: 8px;
    border-radius: 50%;
}

.earth .mantle {
  border-width: 15px;
  height: 100%;
  width: 100%;
  padding: 25px;
  border-radius: 50%;
}

.earth .core {
  border-width: 65px;
  border-radius: 50%;
  height: 100%;
  width: 100%; 

}

.planet.mars {
  height: 250px;
  width: 250px;
}

.mars .crust {
  border-color: lightcoral;
  height: 100%;
  width: 100%;
  border-width: 10px;
  padding: 8px;
  border-radius: 50%;
}

.mars .mantle {
  border-width: 15px;
  height: 100%;
  width: 100%;
  padding: 25px;
  border-radius: 50%;
}

.mars .core {
  border-width: 40px;
  border-radius: 50%;
  height: 100%;
  width: 100%; 
}