header {
    background-color: #183a55;
    position: fixed;
    width: 100%;
}

header.logo {
    float: left;
}

header ul {
    float: right;
    margin-top: 33px;
    color: white;
}

header ul li {
    float: left;
    list-style: none;
    margin-right: 10px;
}

header a {
    color: white;
}

header a:hover {
    color: #018d80;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

main {
    height: 100vh;
    padding-top: 100px;
    background-image: url("../img/airline.jpg");
    background-size: cover;
}

button {
    float: left;
    border-color: none;
    color: green;
}

/*
  #icons
  {
      background-color: seagreen;
      width:120px;

  }*/

.maindiv {
    width: 360px;
    background-color: rgb(10, 2, 59);
}

.imgicon {
    height: 20px;
    width: 20px;
    color: white;
}

#icons {
    background-color: seagreen;
    width: 120px;
}

.inputs {
    width: 48%;
}

input {
    padding-top: 15px;
    margin-top: 20px;
    background-color: transparent;
}

.form-container li {
    float: left;
    width: 33.3%;
    background-color: #018d80;
    text-align: center;
    padding: 10px 0;
    color: white;
}

sec nav ul {
    position: absolute;
    left: 60px;
    top: 160px;
}

ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
}

.form-container {
    width: 30%;
}