body {
    background-image: url(../background-canvas-close-up-1020320.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: navy;
    text-align: center;
}
.center {
    text-align: center;
 }