body {
    background-image: url(../background-canvas-close-up-1020320.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h1 {
    color: navy;
    text-align: center;
}
.center {
    text-align: center;
 }
 .all-sides {
    margin: 100px; /* 15px will be applied to all four sides of the element */
  }