* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.game-window {
  border: 4px solid #23B5D3;
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 75%;
}

header {
  background-color: #070600;
  color: #F7F7FF;
  text-align: center;
  z-index: 500;
}

header h1 {
  margin: 0;
  padding: 20px 0;
}

.hud {
  background-color: #F7F7FF;
  border-left: 1px solid #070600;
  text-align: center;
  width: 25%;
}

.drop-zone {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding-right: 30px;
  position: relative;
  width: 100%;
}

.btn {
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 20px;
}

.start-game {
  background-color: #EF5B5B;
  border-bottom: 4px solid #A63D40;
  color: #fffff7;
  text-transform: uppercase;
  transition: opacity 100ms ease-in-out;
  width: 80%;
}

.start-game:hover {
  opacity: 0.8;
}

.dot {
  align-items: center;
  animation-name: dot-drop;
  animation-delay: 500ms;
  animation-duration: 15s;
  animation-timing-function: linear;
  border-radius: 50%;
  color: #E8E8E8;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -60px;
  z-index: 100;
}

@keyframes dot-drop {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vh);
  }
}

.size-0 {
  height: 35px;
  width: 35px;
}

.size-1 {
  height: 40px;
  width: 40px;
}

.size-2 {
  height: 45px;
  width: 45px;
}

.size-3 {
  height: 50px;
  width: 50px;
}

.size-4 {
  height: 60px;
  width: 60px;
}

.game-over {
  align-items: center;
  background-color: #EF5B5B;
  color: #fffff7;
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% + 30px);
  z-index: 500;
}

.game-over h1 {
  margin-bottom: 0;
}