.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "card1 card1 card2 card2"
    "card3 card3 card4 card5"
    "card3 card3 card6 card6"
    "card7 card8 card9 card10";
}
.card {
  display: flex;
  align-content: space-between;
  box-shadow: 0px 0px 20px 1px grey;
  flex-wrap: wrap;
}

@for $i from 1 through 10 {
  .card:nth-child(#{$i}) {
    grid-area: card#{$i};
  }
}

.main-div div {
  flex-basis: 400px;
}

.image {
  display: flex;
  flex-basis: 0px;
  flex-shrink: 1;
}

img,
.image {
  height: 100%;
}

.single {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
  flex-basis: 0px;
  flex-grow: 2;
  flex-shrink: 2;
}

.text {
  display: flex;
  align-self: flex-start;
}

.bottom-text {
  display: flex;
  justify-content: space-between;
}
