a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
}
header {
  background-color: rgb(25, 58, 85);
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

nav {
  float: left;
  width: 360px;
}

button {
  background-color: rgb(25, 58, 85);
  color: white;
  border: 1px;
  height: 50px;
  width: 120px;
  float: left;
  image-rendering: auto;
}
button:hover {
  background-color: brown;
}

.plane {
  background-color: rgb(110, 128, 143);
  color: white;
  background-image: url(./img/airline.jpg);
  background-size: cover;
  height: 100vh;
}
.Logo {
  float: left;
  width: 250px;
}

.Logo img {
  width: 100%;
}

li {
  list-style: none;
  display: inline;
  margin: 5px;
}

ul {
  list-style: none;
  float: right;
  margin-top: 20px;
}

form {
  height: 500px;
  width: 500px;
  padding: 50px;
}
.row {
  float: left;
  height: 30px;
  width: 500px;
}
clearfix:after {
  content: "";
  clear: both;
  display: block;
}
