header {
  background-color: #123753;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

header a:hover {
  color: #03b5aa
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

main {

}

section {

}