.square {
    height: 200px;
    width: 200px;
    background-color: blue;
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }