body {
  background-image: url("images/background.png");
  background-size: cover;
  color: white;
}
img {
  margin: 10px;
  animation: rotation 10s infinite linear;
  max-width: 200px;
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
h1 {
  color: white;
  font-family: calibri;
}
button{
  border-radius: 40px;
  border: 3px solid white;
  font-size: 14px;
  min-width: 150px;
  max-width: 250px;
  background: none;
  vertical-align: middle;
  margin: 1em;
  padding: 1em 2em;
}
button:hover{
  background-color: white;
}
button:active{
  background-color: white;
}

