* {
  box-sizing: border-box;
  background-color: bisque;
  text-align: center;
}

header {
  grid-area: header;
  margin-bottom: 20px;
}

.row .container {
  display: flex;
  padding: 20px;
  min-width: 300px;
  flex-direction: row;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-variant: small-caps;
  font-size: 40px;
  text-shadow: 1px 1px grey;
  text-align: center;
  padding: 8px;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-variant: small-caps;
  font-size: 20px;
  text-align: center;
  padding: 3px;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  text-align: center;
  padding: 3px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "clickcoin"
    "actions"
    "jewels"
    "jewels";
}

img {
  height: 200px;
  width: 200px;
  border: 5px solid blueviolet;
  margin: 20px;
}

input {
  border-style: none;
  text-align: right;
  width: 150px;
}

button {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  width: 150px;
  height: 20px;
  border: 1px solid gray;
  box-shadow: 3px 3px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.clickcoin {
  padding: 5px;
}

#coin {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: 100;
  animation-timing-function: linear;
  border-radius: 50%;
}

.jewels {
  grid-area: jewels;
}

.actions {
  grid-area: actions;
}

.clickcoin {
  grid-area: clickcoin;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}



/* Medium and up (Tablets) */
@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
      "header header header"
      "clickcoin  actions  jewels"
      "clickcoin  actions  jewels";
  }
  }

   #desktop {
    display: none;
  }
  #phone {
    display: none;
  }
  #tv {
    display: none;
  }
  #tablet {
    display: inherit;
  }
  #phone-landscape {
    display: none;
  }
}

/* Large and up (Desktops) */
@media (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
      "header header header header"
      "clickcoin  actions  jewels  jewels"
      "clickcoin  actions  jewels  jewels"
      "clickcoin  actions  jewels  jewels";
  }

  #desktop {
    display: inherit;
  }
  #phone {
    display: none;
  }
  #tv {
    display: none;
  }
  #tablet {
    display: none;
  }
  #phone-landscape {
    display: none;
  }
}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
      "header header header header header header"
      "clickcoin  actions  actions  jewels  jewels  jewels"
      "clickcoin  actions  actions  jewels  jewels  jewels"
      "clickcoin  actions  actions  jewels  jewels  jewels";
  }



  #desktop {
    display: none;
  }

  #phone {
    display: none;
  }
  #tv {
    display: inherit;
  }

  #tablet {
    display: none;
  }
  #phone-landscape {
    display: none;
  }
}
