* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.card {
  border-radius: 3px;
  box-shadow: 2px 2px 8px black;
  display: flex;
  flex-wrap: wrap;
}

.card-img {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.card-img img {
  max-width: 100%;
}

.card-copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 217px;
  flex-grow: 1;
  padding: 10px;
}

.card-copy p {
  margin-top: 0;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}
