#board {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

[data-cell] {
  background-color: #f2f2f2;
  border: 1px solid #808080;
  font-size: 80px;
  text-align: center;
}
/* 
.disc {
  height:99px;
  width: 99px;
  border-radius: 45px;
} */

/*  
.X {
  height:99px;
  width:99px;
  border-radius:45px;
  background-color: red;
}

.O {
  height:99px;
  width: 99px;
  border-radius: 45px;
  background-color: black;
} */


#announce-winner {
  font-size: 50px;
}
